<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div th:each="product : ${products}">
    <a th:href="@{/products /{id}(id=${product.getProduct_id()})}"
       th:text="${'product: ' + product.getProductName() + ', price: ' + product.getPrice()}">user</a>
</div>


<br/>
<hr/>

<a href="/product/new">Create new product</a>


</body>
</html>