<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
</head>
<body>

<form method="POST" action="/market/customers">

<label for="first_name">Enter first name: </label>
    <input type="text" id="first_name" name="firstname"/>
    <br/>

    <label for="last_name">Enter last name: </label>
    <input type="text"  id="last_name" name="lastname"/>
    <br/>

    <label for="phone">Enter phone: </label>
    <input type="text"  id="phone" name="phoneNumber"/>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text"  id="email" name="email"/>
    <br/>

    <input type="submit" value="Create!"  />
</form>

</body>
</html>