<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
</head>
<body>

<form method="POST" action="/market/cities">

    <label for="city_name">Enter city name: </label>
    <input type="text" id="city_name" name="cityName"/>
    <br>

    <input type="submit" value="Create!"  />
</form>


</body>
</html>