<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div th:each="sale : ${sales}">
    <a th:href="@{/sales /{id}(id=${sale.getSale_id()})}"
       th:text="${'The total amount: ' + sale.getTotalAmount() + ', day when the product saled: ' + sale.getSaleDate()}">user</a>
</div>


<br/>
<hr/>

<a href="/sale/new">Create new sale</a>


</body>
</html>