<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello admin</h1>
<a href="market/cities">Please push, if you want to see cities where we have our markets</a><br>
<a href="market/addresses">Please push, if you want to see addresses where we have our markets</a><br>
<a href="market/customers">Please push, if you want to see our customers</a><br>
<a href="market/products">Please push, if you want to see products</a><br>
<a href="market/sales">Please push, if you want to see sales</a><br>
<a href="market/staffs">Please push, if you want to see staffs</a>
</body>
</html>